node_modules
build
.git
.gitignore
.env
.env.*
coverage
*.md
docker-compose.yml
docker-compose.yaml
.vscode

# Test files
**/__tests__
**/*.test.ts
jest.config.ts
tsconfig.test.json

# Dev config
.eslintrc*
.prettierrc*
.node-version
.editorconfig
